[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic = "*"
python-dotenv = "*"
smart-open = "*"
"ruamel.yaml" = "*"
pandas = "*"
pyspark = "*"

[dev-packages]
pytest = "*"
chispa = "*"

[requires]
python_version = "3.8"
